integration:
  citizen:
    base-url: http://localhost:${wiremock.server.port}/citizen
  samba:
    host: localhost
    port: 1445
    domain: WORKGROUP
    username: user
    password: 1234
    share: /share/
    connect-timeout: PT5S
    response-timeout: PT10S
spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.14:///
  flyway:
    enabled: true
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            database:
              action: validate
  security:
    oauth2:
      client:
        provider:
          citizen:
            token-uri: http://localhost:${wiremock.server.port:}/api-gateway/token
        registration:
          citizen:
            authorization-grant-type: client_credentials
            provider: citizen
            client-id: the-client-id
            client-secret: the-client-secret
